@media (max-width: 768px) and (min-width: 480px) {


    .header-logo {
        width: 120px;
        
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content h2 {
        font-size: 1.125rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-button-email {
        flex-direction: column;
    }

    .hero-button-email input {
        width: 100%;
    }

    .button2 {
        width: 100%;
    }




}


@media (max-width: 480px) {

    
    .header-logo {
        width: 90px;
        
    }

    .button1 a {

        width: 1rem;
    }

    .hero-content h1 {

        font-size: 1.5rem;
    }

    .hero-content h2 {

        font-size: .875rem;

    }

    .hero-content p {

        font-size: 0.875rem;

    }

    .hero-button-email {

        flex-direction: column;
        width: 100%;

    }

    .hero-button-email input {
        width:75%;
    }

   
    

    .button2 {

        width: 75%;

    }

}