@media (max-width: 768px) and (min-width: 480px) {

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content h2 {
        font-size: 1.125rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-button-email {
        flex-direction: column;
    }

    .hero-button-email input {
        width: 100%;
    }

    .button2 {
        width: 100%;
    }
}
